@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

html {
  background-color: #c1efff;
}

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.login {
  width: 30em;
  height: 100%;
  margin: 50px auto;
  transition: all 400ms ease-in-out;
}

.login-container {
  background-color: white;
  box-shadow: 0 0 12px 2px rgba(15, 15, 15, 0.2);
}

.base-container {
  width: 100%;
  text-align: center;
}

.accForm {
  margin: auto;
  width: 75%;
}

.header {
  font-size: 24px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
}

.form-group {
  margin-bottom: 30px;
  text-align: left;
}

.form-group label {
  font-size: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  height: 37px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  background-color: #efefef;
  border: none;
  transition: all 250ms ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  box-shadow: 0 0 12px 2px rgba(15, 15, 15, 0.2);
}

.tab {
  background-color: #00bfff;
  padding: 5px 0;
  width: 90%;
  margin: 0 auto;
  border-radius: 0 0 6px 6px;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 12px 2px rgba(15, 15, 15, 0.2);
  z-index: 0;
}

.tab:hover {
  padding-top: 15px;
}

.text {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 0 3em;
}

.btn {
  font-size: 20px;
  padding: 8px 30px;
  border: none;
  background-color: #00bfff;
  color: white;
  border-radius: 4px;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  margin: 0 10px 30px 10px;
}

.btn:hover {
  background-color: #c1efff;
  color: black;
}

.btn:focus {
  outline: none;
}
